.modal-background {
  display: none;
  background: rgba(0, 0, 0, 0.48);
  border-radius: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background: #232326;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 305px;
  height: 310px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation-name: animatemodal;
  animation-duration: 0.4s;
  color: #7D7D8E;
  font-size: var(--font-size-regular2);
  font-weight: 400;
}
#modal::before {
  content: "";
  position: absolute;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid transparent;
  background: linear-gradient(312deg, #151525, #343449) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  left: 0;
  top: 0;
  border-radius: 12px;
}
#modal span {
  color: var(--active-color);
}
#modal i {
  width: 48px;
  height: 48px;
  background-color: var(--active-color);
  -webkit-mask-size: 48px;
  mask-size: 48px;
}
#modal i.DCP {
  -webkit-mask: url(../../img/source-icon/digital-cinema.svg) no-repeat center;
  mask: url(../../img/source-icon/digital-cinema.svg) no-repeat center;
}
#modal i.Blu-ray {
  -webkit-mask: url(../../img/source-icon/bluray.svg) no-repeat center;
  mask: url(../../img/source-icon/bluray.svg) no-repeat center;
}
#modal i.Apple {
  -webkit-mask: url(../../img/source-icon/icon-mac.svg) no-repeat center;
  mask: url(../../img/source-icon/icon-mac.svg) no-repeat center;
}
#modal i.Xbox {
  -webkit-mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
  mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
}
#modal i.Nintendo {
  -webkit-mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
  mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
}
#modal i.PS {
  -webkit-mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
  mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
}
#modal p {
  margin: 16px 0 48px;
  font-weight: 400;
}

.spinner {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border: 2px solid transparent;
  background: linear-gradient(42deg, rgba(255, 255, 255, 0.28) 23%, rgba(255, 255, 255, 0) 71%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  left: 5.5px;
  top: 5.5px;
  border-radius: 50%;
}
.spinner svg {
  width: 100%;
  transform: rotate(207deg);
}
.spinner .stop1 {
  stop-color: var(--active-color);
}
.spinner .stop2 {
  stop-color: rgba(30, 30, 32, 0.04);
}
.spinner .stop3 {
  stop-color: var(--font-color-alert);
}
.spinner circle {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: 300;
  animation: outline 1.7s cubic-bezier(0.1, 0, 0, 1) infinite;
}
.spinner circle.circle-shutdown {
  stroke: url(#gradientStyleshutdown);
}
.spinner circle.circle-source {
  stroke: url(#gradientStyleS);
}

@keyframes outline {
  0% {
    stroke-dashoffset: 600;
  }
  50% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-1turn);
  }
}
/* modal part end */
/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/* animation part end *//*# sourceMappingURL=modal.css.map */