.source-page-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .main-box {
        width: calc(100% - 350px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .right-box {
        width: 336px;
        height: 100%;
        background: #232326;
        border-radius: 16px;
        padding: 16px;
    }

    .functional-box {
        width: 100%;
        height: calc(100% - 136px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;

        .circle-btn {
            width: 64px;
            height: 64px;
            
        }
    }

}