.dashboard-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-clm {
    border: 1px solid #30303B;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 24px 0;
}

.dashboard-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}