.temp-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto -12px;
}

    .temp-item {
        width: 92px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 12px;
        .circle-btn {
            width: 64px;
            height: 64px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            margin: 0 17px 0 0;
    
            &.up-temp {
                background-image: url(../../img/button-icon/add.svg);
            }
        
            &.down-temp {
                background-image: url(../../img/button-icon/minus.svg);
               
            }
        }
    }
   

    .temp-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 48px 0;
        min-width: 110px;

        .value {
            text-align: center;
            font-weight: 700;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            span {
                font-size: 48px;
                line-height: 60px;
            }

            sup {
                font-size: var(--font-size-regular);
                opacity: 0.14;
                position: relative;
                top: 0;
            }
        }

        .value-text {
            line-height: 28px;
            font-size: 16px;
            opacity: 0.14;
            text-align: center;
            margin: 0 17px 0 0;
        }

        .cool {
            color: var(--climate-color1);
        }

        .heat {
            color: var(--climate-color2);
        }
    }
