.climate-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0 0;

        .square-btn {
            margin: 0 8px;

            i {
                margin: 0 0 8px;
                background-color: var(--font-color);
            }

            &.active {

                i {
                    background-color: var(--active-color);
                }
            }
        }
    }
}



.block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 272px;
    border-radius: 50%;

    .box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 40px;

        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border: 2px solid transparent;
            background: linear-gradient(210deg, rgba(255, 255, 255, 0.28) 4%, rgba(255, 255, 255, 0) 45%) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            left: 0;
            top: 0;
            border-radius: 50%;
        }

        .circle-btn {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
            font-size: var(--font-size-regular);
            line-height: 18px;
            color: var(--font-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .number {
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                font-family: var(--font-family-Regular);
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin: 0 -17px 0 0;

                sup {
                    opacity: 0.14;
                    font-size: var(--font-size-regular);
                    line-height: 18px;
                }
            }

            .title {
                opacity: 0.14;
                margin: 12px 0 0;
                font-weight: 700;
                font-size: var(--font-size-regular);
                line-height: 18px;
            }
        }
    }

    .needle {
        width: 50%;
        height: 20px;
        position: absolute;
        left: 0px;
        transform-origin: 100% 11px;


        animation-delay: 1s;
        display: block;
        z-index: 0;

        &.cool-needle {
            transform: rotate(202deg);
            // animation: fourspeed3 2s 1 both;
        }

        &.heat-needle {
            transform: rotate(-22deg);
            // animation: fourspeed3 2s 1 both;
        }

        &::after {
            content: '';
            position: absolute;
            background: #1E1E20;
            width: 22px;
            height: 22px;
            border-radius: 4px;
            transform: rotate(45deg);
            top: 0;
            left: 30px;
            border-left: 1px solid rgba(var(--font-color), 0.06);
            border-bottom: 1px solid rgba(var(--font-color), 0.06);
        }
    }


    .stop1 {
        stop-color: var(--active-color);
    }

    .stop2 {
        stop-color: rgba(30, 30, 32, 0.04);
    }


    .svg {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: none;
        transform: rotate(180deg);
    }

    .circle {
        stroke: url(#gradientStyle);
        stroke-width: 40px;
        stroke-dasharray: 723;
        stroke-dashoffset: 723;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        transition: 2s stroke-dashoffset;
    }

}






// .center_radius {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: 50%;
// }

// .thermostat {
//     position: relative;
//     border-radius: 50%;
//     width: 272px;
//     height: 272px;
//     background: transparent;

//     .number {
//         .ext {
//             font-size: 16px;
//             color: white;
//             font-weight: 1000;
//             text-shadow: 1px 3px 3px #302e38;
//         }
//     }

//     .bar {
//         position: absolute;
//         @extend .center_radius;
//         width: 270px;
//         height: 270px;

//         &::before {
//             content: "";
//             position: absolute;
//             width: calc(100% - 2px);
//             height: calc(100% - 2px);
//             border: 2px solid transparent;
//             background: linear-gradient(210deg, rgba(255, 255, 255, 0.28) 4%, rgba(255, 255, 255, 0) 45%) border-box;
//             -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
//             -webkit-mask-composite: xor;
//             mask-composite: exclude;
//             left: 0;
//             top: 0;
//             border-radius: 50%;
//         }

//         .hold {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             clip: rect(0px, 270px, 270px, 135px);
//             border-radius: 100%;
//             background-color: transparent;
//         }

//         .fill {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             border-radius: 100%;
//             clip: rect(0px, 135px, 270px, 0px);
//         }

//         .fill1 {
//             background: linear-gradient(360deg, $climate-color1 14.26%, rgba(30, 30, 32, 0) 67.74%);
//         }

//         .fill2 {
//             background: linear-gradient(360deg, $climate-color2 14.26%, rgba(30, 30, 32, 0) 67.74%);
//         }

//         .right {
//             z-index: 3;
//             -webkit-transform: rotate(180deg);
//             -moz-transform: rotate(180deg);
//             transform: rotate(180deg);
//         }

//         .right .fill {
//             z-index: 3;
//             transform: rotate(180deg);
//             animation: right 1s linear both;
//             transition: transform 0.6s;
//         }

//         .left .fill {
//             z-index: 1;
//             animation: left 0.3s linear both;
//             animation-delay: 1s;
//             transform: rotate(180deg);
//             transition: transform 0.6s;
//             //transition-delay: 1s;
//         }

//         span {
//             width: 270px;
//             font-weight: 800;
//             position: absolute;
//             bottom: 0px;
//             text-align: center;
//             text-transform: uppercase;
//             font-size: 15px;
//             color: #2e2c3a;
//             z-index: 10;
//         }
//     }

//     .center {

//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//         width: 192px;
//         height: 192px;
//         font-size: 14px;
//         line-height: 18px;
//         @extend .center_radius;

//         span {
//             font-size: 16px;
//         }

//     }
// }


@-webkit-keyframes right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}



@-webkit-keyframes bound-in-small {
    0% {
        box-shadow: 0px 5px 10px 5px rgba(96, 93, 111, 0.19);
        transform: translate(-50%, -50%) scale(0.8);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.03);
    }

    100% {
        box-shadow: 0px 15px 35px 5px rgba(96, 93, 111, 0.30);
        transform: translate(-50%, -50%) scale(1);
    }
}





@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    background: #fdfdfd;
    font-family: 'Open Sans', sans-serif;
}

.center_radius {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.thermostat {
    position: relative;
    // position: absolute;
    // @extend .center_radius;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: #6D697F;
    box-shadow: inset 0px -6px 1px 2px rgba(0, 0, 0, 0.35), 0px 7px 40px 11px rgba(84, 81, 97, 0.40);
   
    .shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(10deg);
        width: 25px;
        height: 86%;
        text-align: center;
        transition: 0.7s ease;
        animation: shadow 1.4s ease-out both;

        .shadow-cube {
            position: absolute;
            top: 0;
            width: 25px;
            height: 0px;
            box-shadow: 0 0 45px 13px rgba(255, 158, 35, 0.5);
        }
    }

    .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(10deg);
        width: 40px;
        height: 82%;
        text-align: center;
        transition: 0.7s ease;

        .ext {
            font-size: 16px;
            color: white;
            font-weight: 1000;
            text-shadow: 1px 3px 3px #302e38;
        }
    }

    .bar {
        position: absolute;
        @extend .center_radius;
        width: 356px;
        height: 356px;

        .inner_bar {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 344px;
            height: 344px;
            margin-left: -172px;
            margin-top: -172px;
            border-radius: 100%;
            background-color: #6D697F;
            z-index: 4;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 70px solid transparent;
                border-left: 70px solid transparent;
                border-right: 70px solid transparent;
                border-bottom: 150px solid #6D697F;
                bottom: -7px;
                left: 50%;
                transform: translatex(-50%);
            }
        }

        .hold {
            position: absolute;
            width: 100%;
            height: 100%;
            clip: rect(0px, 356px, 356px, 178px);
            border-radius: 100%;
            background-color: #3a3749;
        }

        .fill {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            clip: rect(0px, 178px, 356px, 0px);
        }

        .fill1 {
            background: -webkit-linear-gradient(top, #FF4900 20%, #FF4900 100%);
        }

        .fill2 {
            background: -webkit-linear-gradient(top, #FF4900 40%, #FF9E23 100%);
        }
        .fill3 {
            background: -webkit-linear-gradient(top, #0059ff 20%, #0059ff 100%);
        }

        .fill4 {
            background: -webkit-linear-gradient(top, #0059ff 40%, #6adaf9 100%);
        }

        .right {
            z-index: 3;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .right .fill {
            z-index: 3;
            transform: rotate(180deg);
            animation: right 1s linear both;
            transition: transform 0.6s;
        }

        .left .fill {
            z-index: 1;
            animation: left 0.3s linear both;
            animation-delay: 1s;
            //transform: rotate(10deg);
            transition: transform 0.6s;
            //transition-delay: 1s;
        }

        span {
            width: 356px;
            font-weight: 800;
            position: absolute;
            bottom: 0px;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            color: #2e2c3a;
            z-index: 10;
        }
    }

    .center {
        position: absolute;
        width: 260px;
        height: 260px;
        @extend .center_radius;
        background: #e3e4ed;
        animation: bound-in 0.6s ease forwards;

        .minus {
            left: 10px;
            transition: left 0.3s ease-out;
            background-color: red;
        }

        .plus {
            right: 45px;
            transition: right 0.3s ease-out;
            background-color: green;
        }
        span i {
            position: absolute;
            color: #b9b6c8;
            font-size: 40px;
            font-weight: 500;
            line-height: 260px;
        }

        .arrow {
            width: 20px;
            height: 20px;
            transition: opacity 0.3s;
            cursor: pointer;
            display: block;
        }


        .minus {
            position: absolute;
            animation: arrow-left 1s forwards;
        }

        .plus {
            position: absolute;
            animation: arrow-right 1s forwards;
        }

        .small {
            position: absolute;
            width: 150px;
            height: 150px;
            background: #F8F9FA;
            @extend .center_radius;
            text-align: center;
            animation: bound-in-small 0.6s ease forwards;

            .heat {
                line-height: 150px;
                font-size: 59px;
                color: #57545f;
                font-weight: 300;

                &:after {
                    content: '°';
                    display: block;
                    position: absolute;
                    font-size: 40px;
                    top: -20px;
                    right: 30px;
                }
            }
        }
    }
}


@-webkit-keyframes shadow {
    0% {
        transform: translate(-50%, -50%) rotate(-190deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
}

@-webkit-keyframes right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@-webkit-keyframes bound-in {
    10% {
        box-shadow: 0px 7px 30px 5px rgba(96, 93, 111, 0.25);
        transform: translate(-50%, -50%) scale(0.8);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.03);
    }

    100% {
        box-shadow: 0px 15px 35px 11px rgba(46, 44, 58, 0.60);
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes bound-in-small {
    0% {
        box-shadow: 0px 5px 10px 5px rgba(96, 93, 111, 0.19);
        transform: translate(-50%, -50%) scale(0.8);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.03);
    }

    100% {
        box-shadow: 0px 15px 35px 5px rgba(96, 93, 111, 0.30);
        transform: translate(-50%, -50%) scale(1);
    }
}


@-webkit-keyframes arrow-left {
    0% {
        left: 45px;
        opacity: 0;
    }

    100% {
        left: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes arrow-right {
    0% {
        right: 75px;
        opacity: 0;
    }

    100% {
        right: 45px;
        opacity: 1;
    }
}