$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .circle-btn {
        width: 56px;
        height: 56px;
    
        &.notification-btn {
            position: relative;
            margin: 0 16px 0 0;
    
            &::after {
                content: '';
                border-radius: 50%;
                background: #F96E6E;
                border: 1px solid #1E1E20;
                width: 8px;
                height: 8px;
                position: absolute;
                right: 15px;
            }
        }
    
        &.power-btn {
            background: conic-gradient(from 21.45deg at 50.26% 50.26%, #2D3134 -54.74deg, #1E1E20 0.33deg, #3C3E44 65.93deg, #1E1E20 124.22deg, #2E2F33 179.4deg, #1E1E20 236.11deg, #2D3134 305.26deg, #1E1E20 360.33deg);
            box-shadow: 0px 7px 24px rgba(8, 8, 9, 0.25);
        }
    }
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 150px;

    .source-name {
        font-family: $font-family-Regular;
        line-height: 28px;
        font-size: $font-size-big;
    }

    .source-subtitle {
        font-family: $font-family-Regular;
        line-height: 24px;
        opacity: 0.3;
        font-size: $font-size-regular;
        margin-top: 4px;
    }
}

