$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;

.logo {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $font-color;
    /* background: url(../img/source-icon/Digital-Cinema-white.svg) no-repeat center; */
    -webkit-mask-size: 24px;
    mask-size: 24px;

    
   
}
.active .logo{
    background-color: $active-color;
    
    
   /* background-image: url(../img/source-icon/Digital-Cinema-active.svg); */
}
