.logo {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;
    mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;
}
.active .logo{
    background-color: #41FFB4;
}

.logo img {
    max-width: 24px;
}