.logo-item {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--font-color);
        -webkit-mask-size: 24px;
        mask-size: 24px;

    }

    &.active {
        .logo {
            background-color: var(--active-color);
            -webkit-mask-size: 24px;
            mask-size: 24px;
        }
    }
}