$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Plus Jakarta Sans', sans-serif;
}
button
{
    background-color: transparent;
    background: transparent;
    border-color: #313538;
    border: none;
    cursor: pointer;
    color: $font-color;
}

body {
    padding: 20px;
    font-family: $font-family-Medium;
    color: $font-color;
}

.controller {
    width: 1180px;
    height: 820px;
    background-color: $main-bg-color;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    width: calc(100% - 72px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-tab-content {
    float: left;
    width: 100%;
    height: calc(100% - 192px);
    padding: 24px;
    border-bottom: 1px solid #30303B;
    border-top: 1px solid #30303B;

    >.tab-pane {
        display: none;
        position: relative;

        &.active {
            display: block;
            height: 100%;
        }
    }

    >.active {
        display: block;
    }
}
.source-box
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
}