:root {
  --background: #1E1E20;
  --active-color: #41FFB4;
  --font-color: white;
  --icon-color: #52525A;
  --font-color-alert: #FF7070;
  --button-border-color: #313538;
  --reset-color: #FFF7AD;
  --climate-color1: #ADEBFF;
  --climate-color2: #FFADAD;
  --font-family-bold: "PlusJakartaSans-Bold", sans-serif;
  --font-family-SemiBold: "PlusJakartaSans-SemiBold", sans-serif;
  --font-family-Medium: "PlusJakartaSans-Medium", sans-serif;
  --font-family-Regular: "PlusJakartaSans-Regular", sans-serif;
  --font-size-big3: 48px;
  --font-size-big2: 24px;
  --font-size-big1: 20px;
  --font-size-regular3: 18px;
  --font-size-regular2: 16px;
  --font-size-regular: 14px;
  --font-size-small: 12px;
}

[data-theme=theme1] {
  --background: #1E1E20;
  --active-color: #41FFB4;
}

[data-theme=theme2] {
  --background: #181818;
  --active-color: #5DBADC;
}

[data-theme=theme3] {
  --background: #181818;
  --active-color: #5BACED;
}

[data-theme=theme4] {
  --background: #181818;
  --active-color: #7197FB;
}

[data-theme=theme5] {
  --background: #181818;
  --active-color: #89D9D6;
}

[data-theme=theme6] {
  --background: #08090C;
  --active-color: #8998F9;
}

[data-theme=theme7] {
  --background: #101119;
  --active-color: #8998F9;
}

[data-theme=theme8] {
  --background: #181818;
  --active-color: #F272AF;
}

[data-theme=theme9] {
  --background: #181818;
  --active-color: #98C966;
}

[data-theme=theme10] {
  --background: #181818;
  --active-color: #A985E0;
}

[data-theme=theme11] {
  --background: #181818;
  --active-color: #DEA768;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  background: transparent;
  border-color: var(--button-border-color);
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

body {
  font-family: var(--font-family-Medium);
  color: var(--font-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: var(--font-size-regular2);
  line-height: 24px;
}

.devise-title {
  font-weight: 500;
  font-size: var(--font-size-regular3);
  line-height: 24px;
}

.controller {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 1024px;
  background-color: var(--background);
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  width: calc(100% - 72px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-tab-content {
  float: left;
  width: 100%;
  height: calc(100% - 192px);
  padding: 24px;
  border-bottom: 1px solid #30303B;
  border-top: 1px solid #30303B;
}
.menu-tab-content > .tab-pane {
  display: none;
  position: relative;
}
.menu-tab-content > .tab-pane.active {
  display: block;
  height: 100%;
}
.menu-tab-content > .active {
  display: block;
}

.sources-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sources-content .source-box {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 240px 240px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 0;
}

@media all and (max-width: 1000px) {
  .sources-content .source-box {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
@media all and (max-height: 800px) {
  .menu-tab-content {
    padding: 15px 24px;
    height: calc(100% - 148px);
  }
  .title {
    font-size: var(--font-size-regular);
    line-height: 1;
  }
  .sources-content .source-box {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
@media all and (max-height: 700px) {
  .sources-content .source-box {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
  }
}/*# sourceMappingURL=main-style.css.map */