.source-page-content {
    .functional-content {
        background: #232326;
        border-top: 1px solid #1E1E20;
        border-radius: 16px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .audio-content {
            width: 100%;
            height: 56%;
            border-bottom: 1px solid #1E1E20;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .audio-name {
                font-size: var(--font-size-big1);
                line-height: 24px;
                letter-spacing: -0.02em;
                color: $font-color;
                font-weight: 600;
            }
        }

        .audio-functional {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 44%;
        }

        .row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 12px 0;
        }

        .audio-value {
            min-width: 52px;
            font-size: var(--font-size-small);
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $font-color;
            text-align: center;
        }
    }
}

.right-box {
    .title {
        text-align: center;
        margin: 0 0 16px;
    }
}