$main-bg-color:#1E1E20;

$font-family-bold: 'PlusJakartaSans-Bold',sans-serif;
$font-family-SemiBold: 'PlusJakartaSans-SemiBold',sans-serif;
$font-family-Medium: 'PlusJakartaSans-Medium',sans-serif;
$font-family-Regular: 'PlusJakartaSans-Regular',sans-serif;

$font-color: white;
$icon-color:#52525A;
$active-color:#41FFB4;
$font-color-alert:#FF7070;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big3: 48px;
$font-size-big2: 24px;
$font-size-big1: 20px;
$font-size-regular3: 18px;
$font-size-regular2: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;


.shows-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 64px;
    border-radius: 12px;
    padding: 8px 16px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    

    &.active {
        background: linear-gradient(130.35deg, #313538 -8.16%, rgba(49, 53, 56, 0) 135.93%);

        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border: 1px solid transparent;
            background: linear-gradient(133deg, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.04)) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            left: 0;
            top: 0;
            border-radius: 16px;
            z-index: 0;
        }

    }

    .shows-status-icon {
        width: 24px;
        height: 24px;
        background-image: url(../../img/Unlock.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 8px 0 0;
        transition: all .3s;
    }

    &.lock {
        .shows-status-icon {
            background-image: url(../../img/Lock.svg);
        }
    }

    .info-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .item-name {
            font-weight: 500;
            font-size: $font-size-regular2;
            line-height: 24px;
            letter-spacing: -0.02em;
        }

        .item-time {
            font-weight: 500;
            font-size: $font-size-small;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #52525A;
        }
    }
}