$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;
$icon-color:#52525A;
$active-color:#41FFB4;
$font-color-alert:#FF7070;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big3: 48px;
$font-size-big2: 24px;
$font-size-big1: 20px;
$font-size-regular3: 18px;
$font-size-regular2: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

.circle-btn {
    border-radius: 50%;
    border: 1px solid #313538;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        i {
            background-color: $active-color;
        }
    }

    i {
        width: 24px;
        height: 24px;
        -webkit-mask-size: 24px;
        mask-size: 24px;
        background-color: $font-color;
    }

    &.circle-bg-btn {
        background: conic-gradient(from 21.45deg at 50.26% 50.26%, #2D3134 -54.74deg, #1E1E20 0.33deg, #3C3E44 65.93deg, #1E1E20 124.22deg, #2E2F33 179.4deg, #1E1E20 236.11deg, #2D3134 305.26deg, #1E1E20 360.33deg);
        box-shadow: 0px 7px 24px rgb(8 8 9 / 25%);
    }

    &.circle-btn-no-border {
        border: none;
    }
}


.btn-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-title {
        font-size: $font-size-regular;
        line-height: 24px;
        font-weight: 500;
        margin: 16px 0 0;
    }
}