$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;


.oval-btn {
    width: 135px;
    padding: 15px 0px;
    border: 1px solid $button-border-color;
    border-radius: 32px;
    font-family: $font-family-SemiBold;
    font-size: $font-size-regular;
    line-height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $font-color;

    img {
        max-width: 24px;
        margin: 0 8px 0 0;
    }
}
@media all and (max-height:800px) {
    .oval-btn {
        width: 135px;
        padding: 10px 0px;
        font-size: $font-size-small;
        line-height: 1;
    
        img {
            max-width: 20px;
            margin: 0 8px 0 0;
        }
    }
}