.oval-btn {
    width: 135px;
    padding: 15px 0px;
    border: 1px solid var(--button-border-color);
    border-radius: 32px;
    font-family: var(--font-family-SemiBold);
    font-size: var(--font-size-regular);
    line-height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);

    img {
        max-width: 24px;
        margin: 0 8px 0 0;
    }
}
@media all and (max-height:800px) {
    .oval-btn {
        width: 135px;
        padding: 10px 0px;
        font-size: var(--font-size-small);
        line-height: 1;
    
        img {
            max-width: 20px;
            margin: 0 8px 0 0;
        }
    }
}