$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;


.rectangle-btn {
    width: 182px;
    height: 72px;
    border-radius: 16px;
    position: relative;
    color: $font-color;
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s;

    i {
        width: 24px;
        height: 24px;
        background-color: $icon-color;
        -webkit-mask-size: 24px;
        mask-size: 24px;
        margin: 0 16px 0 0;
    }

    &.active {
        background: linear-gradient(130.35deg, $button-border-color -8.16%, rgba(49, 53, 56, 0) 135.93%);
        color: $active-color;

        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border: 1px solid transparent;
            background: linear-gradient(133deg, rgba($font-color, 0.28), rgba($font-color, 0.04)) border-box;
            -webkit-mask:
                linear-gradient(#fff 0 0) padding-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            left: 0;
            top: 0;
            border-radius: 16px;
        }

        i {
            background-color: $active-color
        }


    }
}