.health-monitor-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.health-monitor-content hr {
  width: 1px;
  height: 100%;
  border: none;
  background-color: #30303B;
}
.health-monitor-content .box {
  padding: 48px 0 0;
  width: calc(50% - 24px);
  height: 100%;
  background: #232326;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.health-monitor-content .box .health-monitor-subtitle {
  font-size: var(--font-size-regular);
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(var(--font-color), 0.48);
}
.health-monitor-content .box .circle-btn {
  width: 190px;
  height: 190px;
  padding: 0 0 0 13px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.health-monitor-content .box .circle-btn .temperature-number {
  font-size: var(--font-size-big2);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.health-monitor-content .box .circle-btn sup {
  opacity: 0.14;
  font-size: var(--font-size-regular);
}
.health-monitor-content .box .circle-btn .message {
  font-size: var(--font-size-regular);
  color: var(--font-color-alert);
  font-weight: 700;
  line-height: 18px;
  margin: 12px 0 0;
  padding: 0 13px 0 0;
}
.health-monitor-content .needle {
  width: 50%;
  height: 20px;
  position: absolute;
  left: 0px;
  transform-origin: 100% 11px;
  transform: rotate(0deg);
  animation: fourspeed3 2s 1 both;
  animation-delay: 1s;
  display: block;
  z-index: 0;
}
.health-monitor-content .needle::after {
  content: "";
  position: absolute;
  background: #1E1E20;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transform: rotate(45deg);
  top: 0;
  left: 30px;
  border-left: 1px solid rgba(var(--font-color), 0.06);
  border-bottom: 1px solid rgba(var(--font-color), 0.06);
}

.health-current-temp {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url("../../img/both-temp-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin: 70px 0 48px;
}
.health-current-temp::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 2px solid transparent;
  background: linear-gradient(192deg, rgba(255, 255, 255, 0.28) 20%, rgba(255, 255, 255, 0) 48%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.health-current-temp .booth-active-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-mask: url(../../img/both-temp-active-bg.svg) no-repeat center;
  mask: url(../../img/both-temp-active-bg.svg) no-repeat center;
  left: 0;
  top: 0;
  background-color: var(--active-color);
}

@keyframes fourspeed3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(115deg);
  }
}
.items-box {
  width: calc(50% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.items-box .status-box {
  width: 100%;
  background: #232326;
  border-radius: 16px;
  padding: 24px;
  margin: 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.items-box .status-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, var(--active-color) 53%, var(--font-color-alert) 47%);
}
.items-box .status-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.items-box .status-row .status {
  margin: 0 24px;
  width: auto;
}

@media all and (max-height: 800px) {
  .items-box .status-box {
    padding: 15px 24px;
    margin: 0 0 4px;
  }
  .health-monitor-content .box {
    padding: 30px 0;
    justify-content: space-between;
  }
  .health-monitor-content .box .health-current-temp {
    margin: 0;
  }
}/*# sourceMappingURL=health-monitor.css.map */