$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;
$icon-color:#52525A;
$active-color:#41FFB4;
$font-color-alert:#FF7070;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big2: 48px;
$font-size-big: 24px;
$font-size-regular2: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;



.status-item {
    margin: 8px 0;
    width: 100%;
    height: calc(16% - 124px);
    background: #232326;
    border-radius: 12px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-size: $font-size-regular;
    line-height: 24px;
    letter-spacing: -0.02em;

    img {
        width: 24px;
        margin: 0 16px 0 0;
    }

}

.status {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 0 0 auto;

    span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 14px 0 0;

        span {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            display: block;
            margin: 0;
        }
    }

    &.online {
        span {
            background: rgba($active-color, 0.24);
            span {
                background: $active-color;
            }
        }
    }

    &.offline {
        span {
            background: rgba($font-color-alert, 0.24);
            span {
                background: $font-color-alert;
            }
        }
    }
}

@media all and (max-height:740px) {

    .status-item {
        padding: 12px 24px;
        margin: 4px 0;
    }

}