.tab-content {
  float: left;
  width: 100%;
  height: 100%;
}
.tab-content.active {
  display: block;
}
.tab-content > .content-tab-pane,
.tab-content > .settings-tab-pane {
  display: none;
  height: 100%;
}
.tab-content > .content-tab-pane.active,
.tab-content > .settings-tab-pane.active {
  display: block;
}
.tab-content > .active {
  display: block;
}

.content-nav-tabs {
  width: auto;
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -24px;
}
.content-nav-tabs.hide {
  display: none;
}
.content-nav-tabs li {
  width: 56px;
  height: 56px;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-nav-tabs li.hide-device-tab, .content-nav-tabs li.hide-settings-tab, .content-nav-tabs li.hide {
  display: none;
}
.content-nav-tabs li a {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: white;
  -webkit-mask-size: 24px;
  mask-size: 24px;
}
.content-nav-tabs li a.content-tab-main {
  -webkit-mask: url(../../img/tab-icons/source.svg) no-repeat center 0%;
  mask: url(../../img/tab-icons/source.svg) no-repeat center;
}
.content-nav-tabs li a.content-tab-1 {
  background-image: url(../../img/tab-icons/projector.svg);
}
.content-nav-tabs li a.content-tab-2 {
  background-image: url(../../img/tab-icons/masking.svg);
}
.content-nav-tabs li a.content-tab-3 {
  background-image: url(../../img/tab-icons/volume.svg);
}
.content-nav-tabs li a.content-tab-4 {
  background-image: url(../../img/tab-icons/property.svg);
}
.content-nav-tabs li a.content-tab-6 {
  background-image: url(../../img/tab-icons/seating.svg);
}
.content-nav-tabs li a.content-tab-7 {
  background-image: url(../../img/tab-icons/property.svg);
}
.content-nav-tabs li a.content-tab-8 {
  background-image: url(../../img/tab-icons/frame.svg);
}
.content-nav-tabs li a.content-tab-9 {
  background-image: url(../../img/tab-icons/health.svg);
}
.content-nav-tabs li a.content-tab-10 {
  background-image: url(../../img/tab-icons/designtools.svg);
}
.content-nav-tabs li.active a:hover.content-tab-main,
.content-nav-tabs li.active a.content-tab-main {
  background-image: url(../../img/source-icon/digital-cinema-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-1,
.content-nav-tabs li.active a.content-tab-1 {
  background-image: url(../../img/tab-icons/progector-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-2,
.content-nav-tabs li.active a.content-tab-2 {
  background-image: url(../../img/tab-icons/masking-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-3,
.content-nav-tabs li.active a.content-tab-3 {
  background-image: url(../../img/tab-icons/volume-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-4,
.content-nav-tabs li.active a.content-tab-4 {
  background-image: url(../../img/tab-icons/property-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-6,
.content-nav-tabs li.active a.content-tab-6 {
  background-image: url(../../img/tab-icons/seating-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-7,
.content-nav-tabs li.active a.content-tab-7 {
  background-image: url(../../img/tab-icons/property-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-8,
.content-nav-tabs li.active a.content-tab-8 {
  background-image: url(../../img/tab-icons/frame-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-9,
.content-nav-tabs li.active a.content-tab-9 {
  background-image: url(../../img/tab-icons/health-active.svg);
}
.content-nav-tabs li.active a:hover.content-tab-10,
.content-nav-tabs li.active a.content-tab-10 {
  background-image: url(../../img/tab-icons/designtools-active.svg);
}

.content-tab-indicator {
  width: 56px;
  height: 4px;
  background: #41FFB4;
  box-shadow: 0px 0px 24px rgba(0, 119, 254, 0.32);
  border-radius: 6px 6px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 16px;
  transition: all 0.3s;
}
.content-tab-indicator.hide {
  opacity: 0;
}

@media all and (max-height: 800px) {
  .content-nav-tabs {
    bottom: -15px;
  }
  .content-nav-tabs li {
    height: 46px;
  }
}/*# sourceMappingURL=content-tab-style.css.map */