.player-controler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #30303B;
    border-radius: 16px;
    padding: 24px 0;
    position: relative;

    .circle-btn {
        width: 64px;
        height: 64px;
        margin: 0 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.controler-btn {
        box-shadow: none;
    }

        &.eject-controler {
            position: absolute;
            left: 0;
        }

        &.circle-bg-btn {
            margin: 0 24px;
        }

        i {
            width: 24px;
            height: 24px;
            -webkit-mask-size: 24px;
            mask-size: 24px;
            background-color: var(--font-color);
        }

        &.active {
            i {
                background-color: var(--active-color);
            }
        }
    }
}

@media all and (max-width:1220px) {
    .player-controler {
        .circle-btn {
            width: 30px;

            &.circle-bg-btn {
                width: 64px;
                margin: 0 20px;
            }
        }
    }
}
@media all and (max-width:1010px) {
    .player-controler {
        .circle-btn {
            &.circle-bg-btn {
                margin: 0 10px;
            }
        }
    }
}