#player {
    position: relative;
    width: 100%;

    #timeline,
    .flex-grow {
        width: 100%;
    }
    #timeline
    {
        margin: 48px 0 16px;
    }

    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        box-sizing: border-box;
        display: block;
        -webkit-user-modify: read-only !important;
        background-color: transparent;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--active-color);
        cursor: pointer;

    }


    #timeline {
        height: 4px;
        width: 100%;
        background: #313538;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        display: flex;

        .narrativ-seek-slider {
            -webkit-appearance: none;
            height: 100%;
            background: #313538;
            border-radius: 16px;
            background-image: var(--volume-bar-active-color);
            background-size: 0% 100%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

    }


    span {
        color: #7D7D8E;
    }

    #currentTime,
    #durationTime {
        font-size: var(--font-size-small);
        line-height: 24px;
        text-align: center;
        color: $font-color;
    }

    #durationTime {
        color: #7D7D8E;
    }

    .timelime-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}