$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;
$icon-color:#52525A;
$active-color:#41FFB4;
$font-color-alert:#FF7070;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big2: 48px;
$font-size-big: 24px;
$font-size-regular3: 18px;
$font-size-regular2: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;



.progector-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .projector-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 24px;
        border-bottom: 1px solid #30303B;
        margin-bottom: 24px;
    }

    .projector-header-item {
        width: calc(33% - 12px);
        background: #232326;
        border-radius: 16px;
        padding: 32px 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .switchLabel {
            margin: 0;
        }

        .functional-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .functional-icon {
            width: 24px;
            height: 24px;
            margin: 0 24px 0 0;
            -webkit-mask-size: 24px;
            mask-size: 24px;

            &.dowser-icon {
                background-color: $icon-color;
                -webkit-mask: url(../../img/tab-icons/projector.svg) no-repeat center;
                mask: url(../../img/tab-icons/projector.svg) no-repeat center;

            }

            &.storage-icon {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(../../img/projector-icons/storage.svg);
            }

            &.lamp-icon {
                background-color: $icon-color;
                -webkit-mask: url(../../img/projector-icons/lamp.svg) no-repeat center;
                mask: url(../../img/projector-icons/lamp.svg) no-repeat center;
            }
        }

        &.active {

            .dowser-icon,
            .lamp-icon {
                background-color: $active-color;
            }

        }

        .title {
            text-align: left;

            span {
                font-size: 14px;
                line-height: 20px;
                color: $icon-color;

                &.active {
                    color: $active-color;
                }

                &.storage {
                    color: $active-color;
                }

                &.anactive {
                    color: $font-color-alert;
                }

            }
        }
    }

    .swiper {
        height: calc(100% - 164px);

        .swiper-wrapper {
            margin-top: 12px;
            height: calc(100% - 60px);
        }

    }

    .macros-btn {
        padding: 24px 45px;
        width: calc(25% - 18px);
        height: 152px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid #313538;
        margin: 12px 24px 12px 0;
        cursor: pointer;
        position: relative;

        &:nth-child(4n) {
            margin: 12px 0;
        }

        &.active {
            border-color: transparent;

            &::before {
                left: -1px;
                top: -1px;
                width: 100%;
                height: 100%;
            }
        }

        .inprogress-img,
        .animation {
            opacity: 0;
            position: absolute;
            right: 24px;
            top: 24px;
        }

        &.inprogress {
            .animation {
                opacity: 1;
            }

            .inprogress-img {
                opacity: 1;
                animation: rotate 1.5s infinite;
            }

            .loader {
                opacity: 1;
            }

        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .functional-title {
            font-size: 16px;
            line-height: 24px;
            color: #52525A;
            display: flex;
            align-items: center;

            img {
                max-width: 24px;
                margin: 0 8px 0 0;
            }
        }
    }
}

.loader,
.loader::before,
.loader::after {
    border-radius: 50%;
    border: 1px solid transparent;
    //you can select color
    // border: 3px solid #fff;
}


.loader {
    width: 24px;
    height: 24px;
    border-left-color: $font-color;
    position: relative;

    //This controls the speed of the animation of all elements
    animation: rotate2 .7s linear infinite;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-61%, -50%);
        width: 30px;
        height: 30px;
        border-left-color: $active-color;
        animation: rotating 1.3s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-39%, -50%);
        width: 14px;
        height: 14px;
        border-left-color: $font-color-alert;
        animation: rotating 1s linear infinite;
    }
}

@keyframes rotating {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate2 {
    to {
        transform: rotate(360deg);
    }
}





.loading,
.loading::before,
.loading::after {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left-color: rgba($active-color, 0.4);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.loading {
    height: 24px;
    width: 24px;
    position: relative;
    animation: rotate2 .7s linear infinite;
    // -webkit-animation: animation-rotate 1000ms linear infinite;
    // -moz-animation: animation-rotate 1000ms linear infinite;
    // -o-animation: animation-rotate 1000ms linear infinite;
    // animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 14px;
    width: 14px;
    top: 50%;
    left: 50%;
    animation: rotating 1.7s linear infinite;
    // -webkit-animation: animation-rotate2 1200ms linear infinite;
    // -moz-animation: animation-rotate2 1200ms linear infinite;
    // -o-animation: animation-rotate2 1200ms linear infinite;
    // animation: animation-rotate2 1200ms linear infinite;
}

.loading::after {
    content: "";
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotating 1s linear infinite;
    // -webkit-animation: animation-rotate2 2000ms linear infinite;
    // -moz-animation: animation-rotate2 2000ms linear infinite;
    // -o-animation: animation-rotate2 2000ms linear infinite;
    // animation: animation-rotate2 2000ms linear infinite;
}






@media all and (max-width:1000px) {
    .progector-content {
        .projector-header-item {
            padding: 32px 30px;
        }

        .macros-btn {
            padding: 24px 30px;
        }
    }
}

@media all and (max-height:750px) {
    .progector-content {
        .swiper {
            height: calc(100% - 80px);

            .swiper-wrapper {
                margin: 5px 0 0;
                height: calc(100% - 50px);
            }

            .swiper-pagination {
                margin: 10px 0 0;
            }
        }

        .projector-header {
            padding: 0 0 15px;
            margin-bottom: 15px;
        }

        .projector-header-item {
            padding: 15px 30px;

        }

        .macros-btn {
            height: 120px;
            margin: 6px 24px 10px 0;
            padding: 15px 30px;
            &:nth-child(4n){
                margin: 6px 0; 
            }

            .functional-title {
                font-size: $font-size-regular;
                line-height: 1;
            }
        }

        .swiper {
            .swiper-wrapper {
                margin-top: 10px;
            }
        }

    }
}