.progector-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.progector-content .projector-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px;
  border-bottom: 1px solid #30303B;
  margin-bottom: 24px;
}
.progector-content .projector-header-item {
  width: calc(33% - 12px);
  background: #232326;
  border-radius: 16px;
  padding: 32px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progector-content .projector-header-item .switchLabel {
  margin: 0;
}
.progector-content .projector-header-item .functional-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.progector-content .projector-header-item .functional-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  -webkit-mask-size: 24px;
  mask-size: 24px;
}
.progector-content .projector-header-item .functional-icon.dowser-icon {
  background-color: #52525A;
  -webkit-mask: url(../../img/tab-icons/projector.svgg) no-repeat center;
  mask: url(../../img/tab-icons/projector.svg) no-repeat center;
}
.progector-content .projector-header-item .functional-icon.storage-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../img/projector-icons/storage.svg);
}
.progector-content .projector-header-item .functional-icon.lamp-icon {
  background-color: #52525A;
  -webkit-mask: url(../../img/projector-icons/lamp.svg) no-repeat center;
  mask: url(../../img/projector-icons/lamp.svg) no-repeat center;
}
.progector-content .projector-header-item.active .dowser-icon,
.progector-content .projector-header-item.active .lamp-icon {
  background-color: #41FFB4;
}
.progector-content .projector-header-item .title {
  text-align: left;
}
.progector-content .projector-header-item .title span {
  font-size: 14px;
  line-height: 20px;
  color: #52525A;
}
.progector-content .projector-header-item .title span.active {
  color: #41FFB4;
}
.progector-content .projector-header-item .title span.storage {
  color: #41FFB4;
}
.progector-content .projector-header-item .title span.anactive {
  color: #FF7070;
}
.progector-content .swiper {
  height: calc(100% - 164px);
}
.progector-content .swiper .swiper-wrapper {
  margin-top: 12px;
  height: calc(100% - 60px);
}
.progector-content .macros-btn {
  padding: 24px 45px;
  width: calc(25% - 18px);
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #313538;
  margin: 12px 24px 12px 0;
  cursor: pointer;
  position: relative;
}
.progector-content .macros-btn:nth-child(4n) {
  margin: 12px 0;
}
.progector-content .macros-btn.active {
  border-color: transparent;
}
.progector-content .macros-btn.active::before {
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
}
.progector-content .macros-btn .inprogress-img,
.progector-content .macros-btn .animation {
  opacity: 0;
  position: absolute;
  right: 24px;
  top: 24px;
}
.progector-content .macros-btn.inprogress .animation {
  opacity: 1;
}
.progector-content .macros-btn.inprogress .inprogress-img {
  opacity: 1;
  animation: rotate 1.5s infinite;
}
.progector-content .macros-btn.inprogress .loader {
  opacity: 1;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progector-content .macros-btn .functional-title {
  font-size: 16px;
  line-height: 24px;
  color: #52525A;
  display: flex;
  align-items: center;
}
.progector-content .macros-btn .functional-title img {
  max-width: 24px;
  margin: 0 8px 0 0;
}

.loader,
.loader::before,
.loader::after {
  border-radius: 50%;
  border: 1px solid transparent;
}

.loader {
  width: 24px;
  height: 24px;
  border-left-color: white;
  position: relative;
  animation: rotate2 0.7s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-61%, -50%);
  width: 30px;
  height: 30px;
  border-left-color: #41FFB4;
  animation: rotating 1.3s linear infinite;
}
.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-39%, -50%);
  width: 14px;
  height: 14px;
  border-left-color: #FF7070;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  to {
    transform: rotate(360deg);
  }
}
.loading,
.loading::before,
.loading::after {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left-color: rgba(65, 255, 180, 0.4);
  border-radius: 999px;
}

.loading {
  height: 24px;
  width: 24px;
  position: relative;
  animation: rotate2 0.7s linear infinite;
}

.loading::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  top: 50%;
  left: 50%;
  animation: rotating 1.7s linear infinite;
}

.loading::after {
  content: "";
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotating 1s linear infinite;
}

@media all and (max-width: 1000px) {
  .progector-content .projector-header-item {
    padding: 32px 30px;
  }
  .progector-content .macros-btn {
    padding: 24px 30px;
  }
}
@media all and (max-height: 750px) {
  .progector-content .swiper {
    height: calc(100% - 80px);
  }
  .progector-content .swiper .swiper-wrapper {
    margin: 5px 0 0;
    height: calc(100% - 50px);
  }
  .progector-content .swiper .swiper-pagination {
    margin: 10px 0 0;
  }
  .progector-content .projector-header {
    padding: 0 0 15px;
    margin-bottom: 15px;
  }
  .progector-content .projector-header-item {
    padding: 15px 30px;
  }
  .progector-content .macros-btn {
    height: 120px;
    margin: 6px 24px 10px 0;
    padding: 15px 30px;
  }
  .progector-content .macros-btn:nth-child(4n) {
    margin: 6px 0;
  }
  .progector-content .macros-btn .functional-title {
    font-size: 14px;
    line-height: 1;
  }
  .progector-content .swiper .swiper-wrapper {
    margin-top: 10px;
  }
}/*# sourceMappingURL=projector-style.css.map */