$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;

$font-size-big: 24px;
$font-size-regular: 14px;
$font-size-small: 12px;


.source-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border: 1px solid #313538;
    border-radius: 20px;
    margin: 24px;
    transition: all .3s;

    .source-name {
        font-family: $font-family-Regular;
        font-size: 20px;
        line-height: 24px;
    }
    .icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        
        -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
        mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
        -webkit-mask-size: 24px;
        mask-size:24px;
      }
      
      .icon-red { background-color: red; }
      .icon-orange { background-color: orange; }
      .icon-yellow { background-color: yellow; }
    .source-icon {
        width: 72px;
        height: 72px;
        margin: 0 0 48px;
        background-color: $icon-color;
        -webkit-mask-size: cover;
        mask-size: cover;

        &.dcp-icon {
            -webkit-mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;
            mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;

        }

        &.source-bluray {
            -webkit-mask: url(../../img/source-icon/bluray.svg) no-repeat center;
            mask: url(../../img/source-icon/bluray.svg) no-repeat center;
        }

        &.source-apple {
            -webkit-mask: url(../../img/source-icon/Icon-Mac.svg) no-repeat center;
            mask: url(../../img/source-icon/Icon-Mac.svg) no-repeat center;
        }

        &.source-xbox {
            -webkit-mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
            mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
        }

        &.source-nintendo {
            -webkit-mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
            mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
        }

        &.source-ps {
            -webkit-mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
            mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
        }

    }

    &.active {
        background: linear-gradient(130.35deg, #313538 -8.16%, rgba(49, 53, 56, 0) 135.93%);

        .source-name {
            color: $active-color;
        }

        .source-icon {
            background-color: $active-color;
        }
    }
}