$main-bg-color:#1E1E20;

$font-family-SemiBold: 'PlusJakartaSans-SemiBold';
$font-family-Medium: 'PlusJakartaSans-Medium';
$font-family-Regular: 'PlusJakartaSans-Regular';

$font-color: white;

$icon-color:#52525A;
$active-color:#41FFB4;
$button-border-color:#313538;

$climate-color1:#ADEBFF;
$climate-color2:#FFADAD;

$font-size-big: 24px;
$font-size-regular2: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;



$active-color-theme1:#41FFB4;
$active-color-theme2:#5DBADC;
$active-color-theme3:#5BACED;
$active-color-theme4:#7197FB;
$active-color-theme5:#89D9D6;
$active-color-theme6:#8998F9;
$active-color-theme7:#8998F9;
$active-color-theme8:#F272AF;
$active-color-theme9:#98C966;
$active-color-theme10:#A985E0;
$active-color-theme11:#DEA768;

$bg1-theme:#181818;
$bg2-theme:#08090C;
$bg3-theme:#101119;

.theme-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $button-border-color;
    }

    ::-webkit-scrollbar {
        width: 4px;
        background-color: $button-border-color;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: $icon-color;
    }
}

.theme-item {
    border-radius: 20px;
    width: 235px;
    height: 232px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $bg1-theme;
    border: 1px solid $button-border-color;
    position: relative;
    padding: 24px;
    transition: all .3s;
    cursor: pointer;

    &.active {
        background: linear-gradient(130.35deg, #313538 -8.16%, rgba(49, 53, 56, 0) 135.93%);
        border-color: transparent;
    }

    &.active::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        background: linear-gradient(133deg, rgba($font-color, 0.28) 35%, rgba($font-color, 0) 80%) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        left: -1px;
        top: -1px;
        border-radius: 20px;
    }

    span {
        background: #232326;
        height: 20px;
        width: 100%;

        &:last-of-type {
            width: 40%;
            margin-top: 8px;
        }
    }

    .bg-box {
        width: 64px;
        height: 64px;
        border-radius: 16px;
        margin: 24px 0 24px auto;
    }
}

.theme-item1 {
    .bg-box {
        background: $active-color-theme1;
    }
}

.theme-item2 {
    .bg-box {
        background: $active-color-theme2;
    }
}

.theme-item3 {
    .bg-box {
        background: $active-color-theme3;
    }
}

.theme-item4 {
    .bg-box {
        background: $active-color-theme4;
    }
}

.theme-item5 {
    .bg-box {
        background: $active-color-theme5;
    }
}

.theme-item6 {
    background: $bg2-theme;

    .bg-box {
        background: $active-color-theme6;
    }
}

.theme-item7 {
    background: $bg3-theme;

    .bg-box {
        background: $active-color-theme7;
    }
}

.theme-item8 {
    .bg-box {
        background: $active-color-theme8;
    }
}

.theme-item9 {
    .bg-box {
        background: $active-color-theme9;
    }
}

.theme-item10 {
    .bg-box {
        background: $active-color-theme10;
    }
}

.theme-item11 {
    .bg-box {
        background: $active-color-theme11;
    }
}

@media all and (max-width:1155px)
{
    .theme-item {
        width: 210px;
    }
}