$volume-bar-color:#313538;
$volume-bar-active-color: linear-gradient(180deg, var(--active-color) 9.76%, rgba(65, 255, 180, 0) 108.54%);
$volume-thumb-color:var(--active-color);


.lightings-item {
    width: calc(20% - 24px);
    background: #232326;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 21px;
    color: var(--font-color);
    line-height: 24px;
    font-weight: 400;

    .lightings-item-title {
        font-size: var(--font-size-regular);
        text-align: center;
        opacity: 0.3;
    }

    .lightings-perc {
        font-weight: 600;
        font-size: var(--font-size-small);
        letter-spacing: -0.02em;
    }

    .lightings-bar {
        width: 100%;
        height: 324px;
        margin: 48px 0;

        .lightings {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;

        }

    }
}



@media all and (max-width:1120px) {
    .lightings-item {
        width: 110px;
        padding: 24px 0;
       
    }
}

@media all and (max-height:750px) {
    .lightings-item {
        height: 100%;

        padding: 15px 0;

        .lightings-bar {
            width: 100%;
            height: calc(100% - 110px);
            margin: 15px 0;

        }
    }
}