.dcp-icon {
    -webkit-mask: url(../../img/source-icon/digital-cinema.svg) no-repeat center;
    mask: url(../../img/source-icon/digital-cinema.svg) no-repeat center;
}

.bluray-icon {
    -webkit-mask: url(../../img/source-icon/bluray.svg) no-repeat center;
    mask: url(../../img/source-icon/bluray.svg) no-repeat center;
}

.apple-icon {
    -webkit-mask: url(../../img/source-icon/icon-mac.svg) no-repeat center;
    mask: url(../../img/source-icon/icon-mac.svg) no-repeat center;
}

.xbox-icon {
    -webkit-mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
    mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
}

.nintendo-icon {
    -webkit-mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
    mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
}

.ps-icon {
    -webkit-mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
    mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
}

.play-btn {
    -webkit-mask: url(../../img/controler-icons/play.svg) no-repeat center;
    mask: url(../../img/controler-icons/play.svg) no-repeat center;
}

.pause-btn {
    -webkit-mask: url(../../img/controler-icons/pause.svg) no-repeat center;
    mask: url(../../img/controler-icons/pause.svg) no-repeat center;
}

.stop-btn {
    -webkit-mask: url(../../img/controler-icons/stop.svg) no-repeat center;
    mask: url(../../img/controler-icons/stop.svg) no-repeat center;
}

.backward-btn {
    -webkit-mask: url(../../img/controler-icons/backward.svg) no-repeat center;
    mask: url(../../img/controler-icons/backward.svg) no-repeat center;
}

.forward-btn {
    -webkit-mask: url(../../img/controler-icons/forward.svg) no-repeat center;
    mask: url(../../img/controler-icons/forward.svg) no-repeat center;
}

.previous-btn {
    -webkit-mask: url(../../img/controler-icons/previous.svg) no-repeat center;
    mask: url(../../img/controler-icons/previous.svg) no-repeat center;
}

.next-btn {
    -webkit-mask: url(../../img/controler-icons/next.svg) no-repeat center;
    mask: url(../../img/controler-icons/next.svg) no-repeat center;
}


.home-btn {
    -webkit-mask: url(../../img/button-icon/home.svg) no-repeat center;
    mask: url(../../img/button-icon/home.svg) no-repeat center;
}

.menu-btn {
    -webkit-mask: url(../../img/button-icon/menu.svg) no-repeat center;
    mask: url(../../img/button-icon/menu.svg) no-repeat center;
}



.popup-btn {
    -webkit-mask: url(../../img/button-icon/pop-up-menu.svg) no-repeat center;
    mask: url(../../img/button-icon/pop-up-menu.svg) no-repeat center;
}

.top-menu-btn {
    -webkit-mask: url(../../img/button-icon/top-menu.svg) no-repeat center;
    mask: url(../../img/button-icon/top-menu.svg) no-repeat center;
}

.return-btn {
    -webkit-mask: url(../../img/button-icon/return.svg) no-repeat center;
    mask: url(../../img/button-icon/return.svg) no-repeat center;
}

.info-btn {
    -webkit-mask: url(../../img/button-icon/info.svg) no-repeat center;
    mask: url(../../img/button-icon/info.svg) no-repeat center;
}

.audio-btn {
    -webkit-mask: url(../../img/button-icon/audio.svg) no-repeat center;
    mask: url(../../img/button-icon/audio.svg) no-repeat center;
}

.subtitle-btn {
    -webkit-mask: url(../../img/button-icon/subtitle.svg) no-repeat center;
    mask: url(../../img/button-icon/subtitle.svg) no-repeat center;
}