.dcp-icon {
    -webkit-mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;
    mask: url(../../img/source-icon/Digital-Cinema.svg) no-repeat center;
}

.bluray-icon {
    -webkit-mask: url(../../img/source-icon/bluray.svg) no-repeat center;
    mask: url(../../img/source-icon/bluray.svg) no-repeat center;
}

.apple-icon {
    -webkit-mask: url(../../img/source-icon/Icon-Mac.svg) no-repeat center;
    mask: url(../../img/source-icon/Icon-Mac.svg) no-repeat center;
}

.xbox-icon {
    -webkit-mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
    mask: url(../../img/source-icon/microsoft-xbox.svg) no-repeat center;
}

.nintendo-icon {
    -webkit-mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
    mask: url(../../img/source-icon/nintendo-switch.svg) no-repeat center;
}

.ps-icon {
    -webkit-mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
    mask: url(../../img/source-icon/sony-playstation.svg) no-repeat center;
}