.lightings-slider {
    width: 786px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: calc(100% - 28px);
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;

        .slide {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            flex-wrap: wrap;
        }
    }

    .swiper-android .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0px, 0, 0);
    }

    .swiper-backface-hidden .swiper-slide {
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    position: absolute;
    bottom: 0;

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: var(--icon-color);
        border-radius: 19px;
        margin: 0 2px;
        transition: all .3s;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
            width: 16px;
            background: var(--active-color);

            &:active,
            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }

        &:active,
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}