.nav-tabs {
    li {
        width: 100%;
        height: 56px;
        margin: 12px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.logo-item {
            margin: 0 0 20px;
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease;
            background-color: var(--icon-color);
            -webkit-mask-size: 24px;
            mask-size: 24px;

            &.tab1 {
                -webkit-mask: url(../../img/menu-icons/element.svg) no-repeat center;
                mask: url(../../img/menu-icons/element.svg) no-repeat center;
            }

            &.tab2 {
                -webkit-mask: url(../../img/menu-icons/monitor.svg) no-repeat center;
                mask: url(../../img/menu-icons/monitor.svg) no-repeat center;
            }

            &.tab3 {
                -webkit-mask: url(../../img/menu-icons/lamp-on.svg) no-repeat center;
                mask: url(../../img/menu-icons/lamp-on.svg) no-repeat center;
            }

            &.tab4 {
                -webkit-mask: url(../../img/menu-icons/climmate.svg) no-repeat center;
                mask: url(../../img/menu-icons/climmate.svg) no-repeat center;
            }

            &.tab5 {
                -webkit-mask: url(../../img/menu-icons/setting.svg) no-repeat center;
                mask: url(../../img/menu-icons/setting.svg) no-repeat center;
            }
        }

        &.active {

            a,
            a:hover {
                background-color: var(--active-color);

                &.tab2 {
                    -webkit-mask: url(../../img/menu-icons/monitor-active.svg) no-repeat center;
                    mask: url(../../img/menu-icons/monitor-active.svg) no-repeat center;
                }
                &.tab3 {
                    -webkit-mask: url(../../img/menu-icons/lamp-on-active.svg) no-repeat center;
                    mask: url(../../img/menu-icons/lamp-on-active.svg) no-repeat center;
                }
                &.tab5 {
                    -webkit-mask: url(../../img/menu-icons/setting-active.svg) no-repeat center;
                    mask: url(../../img/menu-icons/setting-active.svg) no-repeat center;
                }
            }

        }

    }
}